openmeteo-requests
requests-cache
retry-requests
requests
python-dotenv

numpy
pandas
matplotlib
seaborn

scikit-learn
scipy

pytorch-forecasting
pytorch-lightning
torch

holidays

xgboost
lightgbm
catboost

fastapi
uvicorn[standard]
pydantic

pytest
